.heh{
    background-color: rgb(165, 45, 45);
    margin-top: 0   ;
    color: rgb(70, 23, 23);
}

.hehh{
    background-image: url(Covid-1/jpg);
}

.j{
 font-size: 25px;
 color: rgb(59, 8, 8);
}

.a{
    color: rgb(116, 23, 23);
}
